    /*
    Flaticon icon font: Flaticon
    Creation date: 14/08/2018 08:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-sofa:before { content: "\f100"; }
.flaticon-002-sofa-1:before { content: "\f101"; }
.flaticon-003-sofa-2:before { content: "\f102"; }
.flaticon-004-sofa-3:before { content: "\f103"; }
.flaticon-005-sofa-4:before { content: "\f104"; }
.flaticon-006-sofa-5:before { content: "\f105"; }
.flaticon-007-chair:before { content: "\f106"; }
.flaticon-008-table:before { content: "\f107"; }
.flaticon-009-coffee-table:before { content: "\f108"; }
.flaticon-010-carpet:before { content: "\f109"; }
.flaticon-011-tv-table:before { content: "\f10a"; }
.flaticon-012-desk-chair:before { content: "\f10b"; }
.flaticon-013-shower:before { content: "\f10c"; }
.flaticon-014-toilet:before { content: "\f10d"; }
.flaticon-015-sink:before { content: "\f10e"; }
.flaticon-016-shower-1:before { content: "\f10f"; }
.flaticon-017-bath:before { content: "\f110"; }
.flaticon-018-bidet:before { content: "\f111"; }
.flaticon-019-pipeline:before { content: "\f112"; }
.flaticon-020-pipeline-1:before { content: "\f113"; }
.flaticon-021-sink-1:before { content: "\f114"; }
.flaticon-022-burner:before { content: "\f115"; }
.flaticon-023-burner-1:before { content: "\f116"; }
.flaticon-024-sink-2:before { content: "\f117"; }
.flaticon-025-bed:before { content: "\f118"; }
.flaticon-026-double-bed:before { content: "\f119"; }
.flaticon-027-bed-1:before { content: "\f11a"; }
.flaticon-028-desk:before { content: "\f11b"; }
.flaticon-029-night-stand:before { content: "\f11c"; }
.flaticon-030-lamp:before { content: "\f11d"; }
.flaticon-031-book-shelf:before { content: "\f11e"; }
.flaticon-032-plant:before { content: "\f11f"; }
.flaticon-033-piano:before { content: "\f120"; }
.flaticon-034-person:before { content: "\f121"; }
.flaticon-035-plant-1:before { content: "\f122"; }
.flaticon-036-table-1:before { content: "\f123"; }
.flaticon-037-umbrella:before { content: "\f124"; }
.flaticon-038-door:before { content: "\f125"; }
.flaticon-039-doors:before { content: "\f126"; }
.flaticon-040-fitness-bench:before { content: "\f127"; }
.flaticon-041-treadmill:before { content: "\f128"; }
.flaticon-042-stationary-bike:before { content: "\f129"; }
.flaticon-043-table-2:before { content: "\f12a"; }
.flaticon-044-desk-1:before { content: "\f12b"; }
.flaticon-045-desk-2:before { content: "\f12c"; }
    
    $font-Flaticon-001-sofa: "\f100";
    $font-Flaticon-002-sofa-1: "\f101";
    $font-Flaticon-003-sofa-2: "\f102";
    $font-Flaticon-004-sofa-3: "\f103";
    $font-Flaticon-005-sofa-4: "\f104";
    $font-Flaticon-006-sofa-5: "\f105";
    $font-Flaticon-007-chair: "\f106";
    $font-Flaticon-008-table: "\f107";
    $font-Flaticon-009-coffee-table: "\f108";
    $font-Flaticon-010-carpet: "\f109";
    $font-Flaticon-011-tv-table: "\f10a";
    $font-Flaticon-012-desk-chair: "\f10b";
    $font-Flaticon-013-shower: "\f10c";
    $font-Flaticon-014-toilet: "\f10d";
    $font-Flaticon-015-sink: "\f10e";
    $font-Flaticon-016-shower-1: "\f10f";
    $font-Flaticon-017-bath: "\f110";
    $font-Flaticon-018-bidet: "\f111";
    $font-Flaticon-019-pipeline: "\f112";
    $font-Flaticon-020-pipeline-1: "\f113";
    $font-Flaticon-021-sink-1: "\f114";
    $font-Flaticon-022-burner: "\f115";
    $font-Flaticon-023-burner-1: "\f116";
    $font-Flaticon-024-sink-2: "\f117";
    $font-Flaticon-025-bed: "\f118";
    $font-Flaticon-026-double-bed: "\f119";
    $font-Flaticon-027-bed-1: "\f11a";
    $font-Flaticon-028-desk: "\f11b";
    $font-Flaticon-029-night-stand: "\f11c";
    $font-Flaticon-030-lamp: "\f11d";
    $font-Flaticon-031-book-shelf: "\f11e";
    $font-Flaticon-032-plant: "\f11f";
    $font-Flaticon-033-piano: "\f120";
    $font-Flaticon-034-person: "\f121";
    $font-Flaticon-035-plant-1: "\f122";
    $font-Flaticon-036-table-1: "\f123";
    $font-Flaticon-037-umbrella: "\f124";
    $font-Flaticon-038-door: "\f125";
    $font-Flaticon-039-doors: "\f126";
    $font-Flaticon-040-fitness-bench: "\f127";
    $font-Flaticon-041-treadmill: "\f128";
    $font-Flaticon-042-stationary-bike: "\f129";
    $font-Flaticon-043-table-2: "\f12a";
    $font-Flaticon-044-desk-1: "\f12b";
    $font-Flaticon-045-desk-2: "\f12c";