.overall {
    display: flex;
    flex-wrap: nowrap;
}
.chatbox {

    width: 15vw;
    height: 100vh;
    border:solid 1px;


}
.designBoard {

    width: 70vw;
    height: 100vh;
    border:solid 1px;

}
.leftbar {

    width: 15vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.tools {
    position:relative;
    top: 0px;
    height: 50vh;
    width: 15vw;
    border:solid 1px;
}
.textures {
    position: relative;
    bottom: 0px;
    height: 50vh;
    width: 15vw;
    background-color: WHITE;
    border:solid 1px;
}
#create-rectangle {
    width: 50px;
    height: 50px;
    background-color: black;
}

ul {
    height: 6vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
li {
    height: 6vh;
    width: 15vw;
    color: white;
    font-size: 150%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:hover {
    background-color: #111;
}

.tab {
    width: 70vw;
    height: 94vh;
    position:absolute;
    bottom: 0;
}

#bath {
    background-color: green;
}
#bed {
    background-color: yellow;
}
#live {
    background: red;
}
