#create-rectangle {
  width: 50px;
  height: 50px;
  background-color: black;
}

.designBoard {
  width: 70vw;
  height: 100vh;
  border: solid 1px;
}

.chatbox {
  width: 15vw;
  height: 100vh;
  border: solid 1px;
}

ul {
  height: 6vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  height: 6vh;
  width: 15vw;
  color: white;
  font-size: 150%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #111;
}

.tab {
  width: 69.4vw;
  height: 92vh;
  position: absolute;
  bottom: 0;
  /* Add blueprint-like grids. */
  /*background-image: linear-gradient(rgba(255,255,255,0.2) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,0.2) 2px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;*/
  /* Add support for touchscreen devices using document.onpointer* API. */
  touch-action: none;
}

#bath {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: green;*/
}

#bed {
  display: flex;
  justify-content: center;
  align-items: center;
}

#live {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overall {
  display: flex;
  flex-wrap: nowrap;
}

.chatbox {
  width: 15vw;
  height: 100vh;
  border: solid 1px;
}

.designBoard {
  width: 70vw;
  height: 100vh;
  border: solid 1px;
}

.rightbar {
  width: 15vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.tools {
  position: relative;
  top: 0px;
  height: 50vh;
  width: 15vw;
  border: solid 1px;
}

.textures {
  position: relative;
  bottom: 0px;
  height: 50vh;
  width: 15vw;
  background-color: WHITE;
  border: solid 1px;
}

#create-rectangle {
  width: 50px;
  height: 50px;
  background-color: black;
}

ul {
  height: 6vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  height: 6vh;
  width: 15vw;
  color: white;
  font-size: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

li:hover {
  background-color: #111;
}

.tab {
  width: 70vw;
  height: 94vh;
  position: absolute;
  bottom: 0;
}

.adjust {
  position:absolute;
  width: 250px;
  height: 200px;
  background-color:grey;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* Gear with 8 teeth. Ref: codepen.io/sketchbookkeeper/pen/jrmYXm. */
.gear{
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  background: #fff;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.gear .center{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: #198;
  border-radius: 50%;
}

.tooth{
  position: absolute;
  top: -25px;
  left: 75px;
  z-index: 1;
  width: 45px;
  height: 250px;
  background:#fff;
}

.tooth:nth-child(2){
  transform: rotate(45deg);
}

.tooth:nth-child(3){
  transform: rotate(90deg);
}

.tooth:nth-child(4){
  transform: rotate(135deg);
}
/* Enf of gear with 8 teeth. */
