html, body
{
    height: 100%;
    min-height: 100%;
    outline:none
}

body
{
    margin: 0;
    background: url("/assets/imgs/searchBack.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#welcomeText{
    font-size: 6vw;
    color:white;
    -webkit-user-select: none;

}

#internalText{
    margin-top:50px;
    font-size: 4.3vw;
    color:white;
    border-radius: 30px;
    border-color:gray;
    border-style: solid;
    -webkit-user-select: none;
}



#innerContainer{



}

#cButton {

    width:100%;
    padding:5px;

    -webkit-border-radius: 50px;
    font-size: 50px;
    border-width:5px;
    border-style: solid;
    border-color: #ffffff;
    color:white;
    background-color: #020a01;
    outline:none

}

#cButton:hover{
    background-color: #ff311d;
    color: #feff18;
    border-color: #ff0c07;
}