<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/archedit.css">


    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/jquery-ui/jquery-ui.css">

    <script type="text/javascript" src="/assets/vendor/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>

    <title>Edit-{{.Profile.Name}}</title>
</head>
<body>
{{.Profile.Name}}
{{printf "%.2f" .Profile.Budget}}
{{.Profile.Area}}
{{.Profile.Location}}
{{.CurrentProject.TextSoFar}}

<div class = "rightbar">
    <div class = "tools">
        <button onclick="addRectangle(this)">
            Add Draggable Rectangles
        </button>
    </div>

    <div class = "textures">

    </div>
</div>

<div class = "designBoard">

</div>

<div class = "chatbox">

</div>





<script>
// In case we want "undo" and "redo."
//item_properties = []

// TODO: handle the case when newly created rectangles overlap
// Manually create an element in div designBoard
function addRectangle(elem) {
  //console.log("adding rectanbles...")
  let furnitureDiv = document.createElement("div")
  furnitureDiv.id = Math.random()
  furnitureDiv.style = "background-color: " + randomColor() + ";"
  furnitureDiv.style.position = "absolute"
  furnitureDiv.style.width = "500px"
  furnitureDiv.style.height = "200px"
  furnitureDiv.textContent = " " // Without this the div will have height 0, i.e., disappear
  // Right-click to remove itself
  furnitureDiv.oncontextmenu = function(e) { 
    e.preventDefault();
    this.parentNode.removeChild(this) 
  }
  document.getElementsByClassName("designBoard")[0].appendChild(furnitureDiv);
  makeDraggable(furnitureDiv);
}

function makeDraggable(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  elmnt.onmousedown = dragMouseDown;

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}

function randomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
</script>

</body>
</html>
