<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/archedit.css">


    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/jquery-ui/jquery-ui.css">

    <script type="text/javascript" src="/assets/vendor/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>

    <title>Edit-{{.Profile.Name}}</title>
</head>
<body>
{{.Profile.Name}}
{{printf "%.2f" .Profile.Budget}}
{{.Profile.Area}}
{{.Profile.Location}}
{{.CurrentProject.TextSoFar}}

<div class = "rightbar">
    <div class = "tools">

    </div>

    <div class = "textures">

    </div>
</div>

<div class = "designBoard">

</div>

<div class = "chatbox">

</div>





<script>

</script>

</body>
</html>