<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit-{{.Profile.Name}}</title>

    <script src="/assets/vendor/jquery-1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-4.3.1/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/archedit.css">
</head>

<body>
{{.Profile.Name}}
{{printf "%.2f" .Profile.Budget}}
{{.Profile.Area}}
{{.Profile.Location}}
{{.CurrentProject.TextSoFar}}

<div class="overall">
    <div class="rightbar">
        <div class="tools">
            <button onclick="addRectangle(this)"> Add Draggable Rectangles </button>
        </div>

        <div class="textures"></div>
    </div>

    <div class="designBoard">
        <ul>
            <li class="bath">Bathroom</li>
            <li class="bed">Bedroom</li>
            <li class="live">Living Room</li>
            <li class="kitchen">Kitchen</li>
        </ul>
        <div id = "bath" class = "tab"></div>
        <div id = "bed" class = "tab"></div>
        <div id = "live" class = "tab"></div>
        <div id = "kitchen" class = "tab"></div>
    </div>

    <div class="chatbox"></div>
</div>
</body>

<script>
  var currentDiv = "bath";
  $(".bath").css( "background-color", "#4CAF50");
  $(".designBoard>.tab").css("visibility","hidden");
  $("#bath").css("visibility","visible");
  $("ul>li").click(function() {
      $("ul>li").css( "background-color", "#333");
      $(this).css( "background-color", "#4CAF50");
      console.log(this.className);
      $(".designBoard>.tab").css("visibility","hidden");
      $("#"+ this.className).css("visibility","visible");
      currentDiv = this.className;
  });

  // In case we want "undo" and "redo."
  //item_properties = []

  // Create elements in div designBoard
  function addRectangle(elem) {
    let furnitureDiv = document.createElement("div")
    furnitureDiv.id = Math.random()
    furnitureDiv.style = "background-color: " + randomColor() + ";"
    furnitureDiv.style.position = "absolute"
    let width = "350px"
    let height = "200px"
    //if (Math.random() < 0.5) { [width, height] = [height, width] }
    furnitureDiv.style.width = width
    furnitureDiv.style.height = height
    furnitureDiv.textContent = " " // Without this placeholder the div will have height 0, i.e., disappear
    // Right-click to remove itself
    furnitureDiv.oncontextmenu = function(e) { 
        e.preventDefault();
        this.parentNode.removeChild(this) 
    }
    document.getElementById(currentDiv).appendChild(furnitureDiv);
    makeDraggable(furnitureDiv);
  }

  // Largely borrowed from w3schools.com/howto/howto_js_draggable.asp
  function makeDraggable(elmnt) {
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    elmnt.onmousedown = dragMouseDown;
    function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
    }
    function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // Gary: set the element's new position:
        //console.log(bounds(elmnt.offsetTop - pos2, 0, bounds(document.getElementById(currentDiv).clientHeight)));
        elmnt.style.top = bounds(elmnt.offsetTop - pos2, 0, bounds(document.getElementById(currentDiv).clientHeight)- elmnt.clientHeight) + "px";
        elmnt.style.left = bounds(elmnt.offsetLeft - pos1, 0, bounds(document.getElementById(currentDiv).clientWidth)- elmnt.clientWidth) + "px";
    }
    function bounds (number, lowerlimit, upperlimit) {
        if (number > upperlimit) {
            return upperlimit;
        } else if (number < lowerlimit) {
            return lowerlimit;
        } else {
            return number;
        }
    }
    function closeDragElement() {
        /* stop moving when mouse button is released:*/
        document.onmouseup = null;
        document.onmousemove = null;
    }
  }

  function randomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }
</script>

</html>
