<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">


    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/jquery/jquery-ui.min.css">
    <script type="text/javascript" src="/assets/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/assets/vendor/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>

    <title>Welcome</title>
</head>
<body>
    <div id="totalPane" class="container">




        <div id="innerContainer"class="row">

            <div class="col-md-5">
                <button id="cButton">Client</button>
            </div>

            <div id="orText" class="col-md-2">
                <div class="vertical">or</div>
            </div>

            <div class="col-md-5">
                <button id="cButton">Architect</button>
            </div>
        </div>


    </div>

    <script>
        var $welcomeText = $("<div id=\"welcomeText\">Welcome!</div>")
        $welcomeText.hide()

        var $questionText = $("<div id=\"internalText\" class=\"row\"> Are you a </div>")
        $questionText.hide()

        $("#totalPane").prepend($questionText)
        $("#totalPane").prepend($welcomeText)



        window.onload=function(){
            $welcomeText.show("slide", { direction: "left" }, 1000);
            $questionText.show("slide", { direction: "left" }, 1000);
        }

    </script>



</body>
</html>