<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">


    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>

    <title>Welcome</title>
</head>
<body>
    <div class="container">
        <div id="welcomeText" class="row">
            Welcome!
        </div>

        <div id="internalText" class="row">
            I am a:
        </div>

        <div class="row">

            <div class="col-md-6">
                <button id="cButton">Client</button>
            </div>

            <div class="col-md-6">
                <button id="cButton">Architect</button>
            </div>
        </div>


    </div>

    <script>
        window.onload=function(){

        }

    </script>



</body>
</html>