<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">



    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>

    <title>Request Form</title>
</head>
<body>
        <div class="container">

            <input type="text" placeholder="First and Last Name" class="fieldComps">
            <input type = "text" class="fieldComps">
            <input type="text" class="fieldComps">
            <textarea name="preferences" class="fieldComps"></textarea>

        </div>




</body>
</html>