<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/requestForm.css">

    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>

    <title>Request Form</title>
</head>
<body>
        <div class="container" id="searchContainer">
            <span id="titleText">Send {{.}} your profile and dream:</span>
            <div class="row">
                <div class="col">
                    <span id="titleText">Name:</span>
                </div>
                <div class="col">
                    <input type="text" class="fieldText">
                </div>
            </div>

            <span id="titleText">Approximate Budget:</span>
            <input type = "text" class="fieldText">
            <span id="titleText">Location</span>
            <input type="text" class="fieldText">
            <span id="titleText">Preferences</span>
            <textarea class="fieldPreferences"></textarea>

        </div>
        <button id="submitButton">Submit </button>



</body>
</html>