<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for Architects</title>

    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css">


    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>
</head>
<body>

<div id="contentPane" class="container">

   
    <!--<textarea rows="1" cols="30" id="searchbar" maxlength="30" placeholder="Search..."></textarea>-->
    

   
</div>
  
  
<script>
      prevQuery = ""
      fadeInOrNot = true;
      $introSegment = $("<div id='infoText'>Find The Architect For You</div>")
      $introSegment.hide()

      $searchBar = $('<input type="text" id="searchbar" maxlength="30" placeholder="Search...">')
      $searchBar.hide()

      $archPane = $('<div id="archPane" class="row"></div>')


      $("#contentPane").append($introSegment)
      $("#contentPane").append($searchBar)
      $("#contentPane").append($archPane)

      window.onload = function () {

          //$introSegment.fadeIn(2000);
          $introSegment.show("slide", { direction: "left" }, 1000);
          $searchBar.slideDown(1000)

          setInterval(function(){
              $introSegment.fadeOut(2000, function(){
                  if(fadeInOrNot){

                      $introSegment.html("Made Fast and Simple");
                  }else{
                      $introSegment.html("Find The Architect For You")
                  }
              });
              $introSegment.fadeIn(2000);
              fadeInOrNot = !fadeInOrNot


          }, 4500);
      }
      $("#searchbar").on('input', function() {
          if($("#searchbar").val()==""){
              $("#archPane").html("")
              return
          }

          connection = new WebSocket('ws://final160-alexanderpark.codeanyapp.com:2323/lookup');
          connection.onmessage = function(receivedMessage) {

              this.send("<Finished>")

              content = receivedMessage.data
              console.log("Received "+content)
              if(content=="null"){
                  $("#archPane").html("<div>No Results Found</div>")
                  return
              }
              queries = content.split("</Delim>")
              packet = JSON.parse(queries[0])

              $("#archPane").html("<div>"+packet["name"]+"</div>")


          };
          connection.onopen = function(){
              this.send($("#searchbar").val())

          };


      });


  
  
</script>

</body>
</html>