<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for Architects</title>

    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css">


    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>
</head>
<body>

<div class="container">
    <div id="infoText">
        Start Searching For Architects
    </div>
    <input type="text" id="searchbar" maxlength="30" placeholder="Search...">
    <!--<textarea rows="1" cols="30" id="searchbar" maxlength="30" placeholder="Search..."></textarea>-->
    <div id="archPane" class="row prof">

    </div>

    <div id="buttonPane">

    </div>

    <div id="numerical">

    </div>

</div>
  
  
<script>
  window.onload = function () {

      $("#searchbar").on('input', function() {
          console.log()
          text = $("#searchBar").val();
          console.log(text)
          connection = new WebSocket('ws://final160-alexanderpark.codeanyapp.com:2323/lookup');
          connection.onopen = function(){
              connection.send(text)

          };
          connection.onmessage = function(receivedMessage) {

              content = receivedMessage.data
              queries = content.split("</Delim>")
              packet = JSON.stringify(queries[0])
              $("#archPane").html(packet["name"])
              console.log(packet["name"])
          }
      });

  }
  
  
</script>

</body>
</html>