<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">



    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/jquery-ui/jquery-ui.css">

    <script type="text/javascript" src="/assets/vendor/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>

    <meta charset="UTF-8">
    <title>Your Design So Far</title>
</head>
<body>

    <div id="container">
        <div>
            TRY ME
        </div>

        <div>

        </div>
    </div>

    <script>

    </script>

</body>
</html>