<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit</title>

    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/archedit.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/assets/vendor/jquery-ui/jquery-ui.css">

    <script type="text/javascript" src="/assets/vendor/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/assets/vendor/paper/paper-full.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>



    <style>

    </style>
</head>

<body>
<div class="overall">

    <div class="designBoard">
        <ul>
            <li class="bath">Bathroom</li>
            <li class="bed">Bedroom</li>
            <li class="live">Living Room</li>
            <li class="kitchen">Kitchen</li>
        </ul>
        <div id = "bath" class = "tab"></div>
        <div id = "bed" class = "tab"></div>
        <div id = "live" class = "tab"></div>
        <div id = "kitchen" class = "tab"></div>
    </div>

    <div class="chatbox">
        <textarea>

        </textarea>
        <input type="text">

    </div>
</div>
</body>

<script>
    /*
   var connectionMade = false;
   setInterval(func(){
       if(connectionMade){
           connection.send(JSON.stringify({content:"</Alive>"}));
       }
   },1000)


   var connection = new WebSocket('ws://final160-alexanderpark.codeanyapp.com:2323/commun');
         connection.onopen = function(){
              connectionMade=true;
              connection.send(JSON.stringify({content:"client"}));
         }
    connection.onmessage = function(receivedMessage){
           let packet = JSON.parse(receivedMessage.data)
           //packet["text"]
           if(packet["statusOfOther"]=="dead"){
           }else{
                let arrayOfLinks=packet["content"].split(",")
           }


    }

   * */

    // Add floorplan images as the background
    $(".bath").css( "background-color", "#4CAF50");
    $("#bath").prepend("<img id = 'bath_floorplan' src = '/assets/imgs/floorplans/Bedroom.svg' width = '800px' height = '800px'/>");
    $("#bed").prepend("<img id = 'bed_floorplan' src = '/assets/imgs/floorplans/Bedroom.svg' width = '800px' height = '800px'/>");
    $("#live").prepend("<img id = 'live_floorplan' src = '/assets/imgs/floorplans/LivingRoom.svg' width = '800px' height = '800px'/>");
    $("#kitchen").prepend("<img id = 'kitchen_floorplan' src = '/assets/imgs/floorplans/Kitchen.svg' width = '800px' height = '800px'/>");
    $(".designBoard>.tab").css("visibility","hidden");
    $("#bath").css("visibility","visible");

    // Tabs that can be toggled
    var currentDiv = "bath";
    $(".bath").css( "background-color", "#4CAF50");
    $(".designBoard>.tab").css("visibility","hidden");
    $("#bath").css("visibility","visible");
    $("ul>li").click(function() {
        $("ul>li").css( "background-color", "#333");
        $(this).css( "background-color", "#4CAF50");
        console.log(this.className);
        $(".designBoard>.tab").css("visibility","hidden");
        $("#"+ this.className).css("visibility","visible");
        currentDiv = this.className;
    });



</script>

</html>
